<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Masters level specialization certificate in Big Data Analytics</h1>
            <span>Arcada UAS</span>
            <span><address>Helsinki, Finland</address><time>2017 to 2018</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>BA in Business IT</h1>
            <span>Haaga-Helia UAS</span>
            <span><address>Helsinki, Finland</address><time>2013 to 2015</time></span>
        </header>
        <p>
            <em>Dissertation: Global Manual Test for SAP- FICO .</em>
        </p>
    </article>
</section>
