<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Junior Machine Learning Engineer, Integrify</h1>
            <span><address>Helsinki, Finland</address><time>April 2020 - Currently</time></span>
        </header>
        <p>Currently completing an intensive 6-month-long training program in Machine Learning at Integrify.
            Working with Python, Scikit-learn, and TensorFlow among others to tackle real-life challenges.
            Interested? See the full curriculum on integrify.io.Will be available for consulting starting from October 2020.
            Want to work together? Get in touch with Joona Ohra-aho: joona@integrify.io / +358 400 579 588</p>
    </article>
    <article>
        <header>
            <h1>Project Manager at Occasio Oy</h1>
            <span><address>Helsinki, Finland</address><time>December 2014 — July 2015</time></span>
        </header>
        <article>

        <ul>
            <li>Research the latest information concerning foreign market trends.</li>
            <li>Process the necessary government forms to conduct business in other countries for various
                clients.</li>
            <li>Collaborate and create networks with government bodies and business partners.</li>
            <li>Responsible for updating the CEO on various activities performed with clients, plans and
                strategies made.</li>
            <li>Coordinate business events for various clients in different industries </li>
        </ul>
        </article>
    <article>
        <header>
            <h1>Finance and Controlling Solution Trainee at Kone Corporation</h1>
            <span><address>Helsinki, Finland</address><time>April 2012 — October 2012</time></span>
        </header>
         <ul>
            <li>Creating manual test for FICO related business processes in HP Quality Center Tool.</li>
            <li>Collaborate and communicate within GD (Global Development) and relevant business units during test script creation.</li>
            <li>Document various test scenarios from different business process for future use.</li>
            <li>Developed manual test scripts for Global KONE Way Project Template for 12 Countries in (Z-box)</li>
            <li>Developed websites using Microsoft SharePoint for different uses for the FICO Team.</li>
             <li>Developed manual test scripts for Global KONE Way Project Template for 12 Countries in (Z-box)</li>
            <li>Created the FICO Forum wiki site platform for knowledge sharing</li>
        </ul>
    </article>
    <article>
        <header>
            <h1>Office Assistant at Embassy of Italy (PMU),A.A</h1>
            <span><address>Addis Ababa, Ethiopia</address><time>February 2005 — July 2007</time></span>
        </header>
        <ul>
            <li>Office administration and Information management .</li>
            <li>Public relation Library management and Information sharing .</li>
            <li>Secretarial services- Handled correspondence with donor companies, organize meetings, take minutes of meetings, and handle travel arrangements.</li>
            <li>Entrusted to handle confidential and sensitive information in professional manner.</li>
        </ul>
    </article>

</section>
